[submodule "vendor/extensions/oembed"]
	path = vendor/extensions/oembed
	url = git://github.com/gerrit/radiant-oembed-extension.git
[submodule "vendor/extensions/direct_link_extension"]
	path = vendor/extensions/direct_link_extension
	url = git://github.com/gunn/radiant-direct_link-extension.git
[submodule "vendor/extensions/infinite_carousel"]
        path = vendor/extensions/infinite_carousel
        url = git://github.com/blazingcloud/radiant-carousel-extension.git
